.print-display {
    display: none;
}

@media print {
    * {
        overflow: visible !important;
        /* Chrome, Safari 6 – 15.3, Edge */
        -webkit-print-color-adjust: exact !important;
        /* Firefox 48 – 96 */
        color-adjust: exact !important;
        /* Firefox 97+, Safari 15.4+ */
        print-color-adjust: exact !important;
    }

    .add-button-link-wrap,
    .references,
    .lazy-visibility,
    .cm-s-light>div>textarea,
    .CodeMirror-gutters,
    .CodeMirror-linenumber {
        display: none;
    }

    .print-hide {
        display: none;
    }

    .print-display {
        display: block;
    }

    :root {
        --ls-left-sidebar-width: 0px;
        --ls-left-sidebar-sm-width: 0vw;
        --ls-left-sidebar-nav-btn-size: 0px;
    }

    div[class^="CodeMirror"],
    span[class^="hide-tail"] {
        overflow: hidden !important;
    }

    .CodeMirror-sizer {
        margin-left: 1px !important;
        margin-bottom: 1px !important;
        min-height: 10px !important;
    }

    .page {
        page-break-after: always;
    }

    .katex .vlist>span>span {
        display: inline-block !important;
    }

    .katex .stretchy {
        display: block !important;
        overflow: hidden !important;
        position: relative !important;
        width: 100% !important;
    }

    .katex .brace-left {
        left: 0 !important;
        overflow: hidden !important;
        position: absolute !important;
        width: 25.1%;
    }

    .katex .brace-center {
        left: 25% !important;
        overflow: hidden !important;
        position: absolute !important;
        width: 50% !important;
    }

    .katex .brace-right {
        overflow: hidden !important;
        position: absolute !important;
        right: 0 !important;
        width: 25.1% !important;
    }

    iframe[id^="youtube-player-"] {
        display: none !important;
    }

    div[id^="div-youtube-player-"] {
        margin: 1rem 0 !important;
        width: 100% !important;
        display: block !important;
        vertical-align: middle !important;
    }

}